{% extends 'main.html' %}
{% load staticfiles %}

{% block library %}
    <div class="large-3 columns">
    {% for book in books %}
        <h4><a href="/books/get/{{ book.id }}/">{{ book }} </a></h4>
        <p> Автор: {{ book.authors.get }}</p>
        {% with book.photo as pict %}
            <img src="{{ MEDIA_URL }}{{ book.photo }}" width ="200px" height="200px">
        {% endwith %}
        <div class="large-push-11"><a href="/books/add_like/{{ book.id }}/"><img src="{% static 'like.jpg' %}" width ="25px" height="25px"></a>{{ book.likes }}</div>
        <hr>
    {% endfor %}
    </div>
{% endblock %}