<!DOCTYPE html>
<html>
<head>
    <title>FileExchange</title>
</head>
<body>
    <h1>FileExchange</h1>
    <div>
        <ul>
            {% if user.is_authenticated %}
            <h3>{{ user.username }} is logged in!</h3>
               <li><a href="/list/">View available files</a></li>
               <li> <a href="/logout/">Logout</a> </li>
               <li> <a href="/profile/">View profile</a> </li>
            {% else %}
                <li> <a href="/register/">Register</a> </li>
                <li> <a href="/login/">Login</a> </li>
            {% endif %}
        </ul>
    </div>
</body>
</html>