<form action="" method="POST"> {%  csrf_token %}
        <fieldset>
    <div class="invalid"> {{  form.non_field_errors }}</div>
    <p>Username:</p>
    <p> {{ form.username }}</p>
    <div class="required"> {{  form.errors.username }}</div>
    <p>Password:</p>
    <p> {{ form.password }}</p>
    <div class="required"> {{  form.errors.password }}</div>
    <input type='submit' value="Login" class="btn">
    <a href="/registration" class="btn btn-link" >registration</a>
        </fieldset>
</form>