<form action="" method="POST"> {%  csrf_token %}
        <fieldset>
    <p>Username:</p>
    <p>{{ form.username }}</p>
    <div class="required"> {{  form.errors.username }}</div>
    <p>Password:</p>
    <p>{{ form.password1 }}</p>
    <div class="required"> {{  form.errors.password1 }}</div>
    <p>Password Confirmation:</p>
    <p>{{ form.password2 }}</p>
    <div class="required"> {{  form.errors.password2 }}</div>
    <input type='submit' value="Register" class="btn">
     <a href="/login" class="btn btn-link" >back</a>

        </fieldset>
    </form>