{%  extends 'base.html' %}
{% block head %}
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">

    /* function show()
        {
            $.ajax({
                url: "/unread/with/{{ user.username }}",
                cache: false,
                success: function(html){
                    $("#unread").append(html);
                }
            });
        }*/

        $(document).ready(function(){
            show();
            setInterval('show()',1000);
        });


    $(function() {

        $("#message_input").focus();
   $(".chat").scrollTop($('.chat').height()+30000000)
});

    </script>
{% endblock %}
{% block body %}


   <h1>
       {% if user.avatar  %}
   <img src="/{{ MEDIA_URL }}{{ user.avatar }}" width="60px" class="img-circle">
   {% endif %}
       Chat with {{ friend.username }}
       <img src="/{{ MEDIA_URL }}{{ friend.avatar }}" width="60px" class="img-circle">
   </h1>
    <div class="chat">
     
    {% for message in messages %}
        <div class='{% if not message.is_read  %} unread {% endif %}'>
        {% if message.from_user == user  %}
            <div class="my_message">
            ({{ message.datetime | date:"d N Y H:i"  }})Me:
            </div>
        {% else %}
            <div class="friend_message">
            ({{ message.datetime | date:"d N Y H:i"  }}){{ friend.username|capfirst }}:
            </div>
        {% endif %}
        {{ message.message }}

        </div>
        <br>
    {% endfor %}
    <div id="unread"> </div>
    </div>
    <form action="" method="post"> {% csrf_token %}
   <div class="input-append" >
  <input class="wide" type="text" name='message' id='message_input'>
  <button class="btn" type="submit">Send</button>
  </div>
  </form>

    <br>
     <a href="{% url 'chat.views.contacts' %}" class="btn btn-link" >back</a>
    <a href="{% url 'chat.views.logout' %}" class="btn btn-link" >logout</a>
{% endblock %}